<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Edit Workout</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>

<h2>Edit Workout</h2>

<form method="POST">
    Exercise:<br>
    <input type="text" name="exercise" value="{{ workout[2] }}" required><br><br>

    Duration:<br>
    <input type="text" name="duration" value="{{ workout[3] }}" required><br><br>

    Calories:<br>
    <input type="number" name="calories" value="{{ workout[4] }}" required><br><br>

    <button type="submit">Update Workout</button>
</form>

<br>
<a href="/dashboard">Back</a>

</body>
</html>
