<!DOCTYPE html>
<html>
<head>
    <title>Graph</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
</head>
<body>

<h2>Calories Graph 💚</h2>

<canvas id="myChart" width="400" height="150"></canvas>

<script>
var ctx = document.getElementById('myChart').getContext('2d');
var myChart = new Chart(ctx, {
    type: 'line',
    data: {
        labels: {{ dates|tojson }},
        datasets: [{
            label: 'Calories',
            data: {{ calories|tojson }},
            borderColor: 'green',
            fill: false
        }]
    }
});
</script>

<br>
<a href="/dashboard">Back to Dashboard</a>

</body>
</html>